<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body>
  <div class="container">
    <%- include('../partials/sidebar') %>
      <div class="main">
        <div class="task-list-container">
          <h1 class="task-list-heading">Task List</h1>

          <div class="task-list-task-buttons">
            <a href="/task/create">
              <button class="task-list-button">
                <span class="material-icons">add</span>Add task
              </button>
            </a>
          </div>

          <div class="task-list-table-head">
            <div class="task-list-header-task-name">Task Name</div>
            <div class="task-list-header-detail">Detail</div>
            <div class="task-list-header-due-date">Due Date</div>
            <div class="task-list-header-progress">Progress</div>
          </div>

          <% tasks.forEach((task)=> { %>
            <div class="table-body">
              <div class="table-body-task-name">
                <span class="material-icons <%= task.status == 'COMPLETED' ? 'check-icon-completed' : 'check-icon' %>">
                  check_circle
                </span>
                <%= task.name %>
              </div>
              <div class="table-body-detail">
                <%= task.detail %>
              </div>
              <div class="table-body-due-date">
                <%= new Date(task.dueDate).toLocaleDateString('id-ID', { weekday: 'long' , year: 'numeric' , month: 'long' ,
                  day: 'numeric' }) %>
              </div>
              <div class="table-body-progress">
                <% switch (task.status) { case 'IN_PROGRESS' : %>In Progress<% break; case 'IN_REVIEW' : %>Waiting/In Review<%
                      break; case 'COMPLETED' : %>Completed<% break; default: %>Not Started<% } %>
              </div>
              <a href="/task/<%= task.id %>/edit">Edit</a> &nbsp;
              <a href="/task/<%= task.id %>/delete">Delete</a>
            </div>
          <% }) %>
        </div>
      </div>
  </div>
</body>

</html>